body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.doboz {
    width: 5cm;
    padding: 1cm 3cm 1cm 3cm;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    justify-items: center;
    position: relative;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.doboz input[type="email"], .doboz input[type="password"] {
    background: 0;
    display: block;
    margin: 10px auto;
    border: 1mm solid white;
    border-radius: 10px;
    height: 1cm;
    color: white;
    width: 5cm;
    transition: border-color 0.2s linear;
}

.doboz input[type="email"]:focus, .doboz input[type="password"]:focus {
    border-color: rgb(255, 51, 0);
    outline: none;
}

.doboz input[type="submit"] {
    border: 0;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 3cm;
    height: 1cm;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.doboz input[type="submit"]:hover {
    background-color: rgb(255, 51, 0);
    color: white;
}

p {
  font-size: 30px;
  font-weight: bold;
}

a {
    color: white;
    display: block;
    margin-bottom: 0.1cm;
}

img {
    height: 3cm;
}

.kozossegi {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    width: 55%;
  }
  
  .kozossegi li {
    margin: auto;
  }
  
  .kozossegi a {
    text-decoration: none;
    color: white;
  }
  
  .kozossegi a i {
    font-size: 30px;
    transition: color 0.2s linear;
  }
  
  .kozossegi a:hover i {
    color: rgb(255, 51, 0);
  }