* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100px;
  background-color: black;
}

#login_button {
  background-color: rgb(255, 51, 0);
  border-radius: 10px;
}

nav .logo_div {
  float: left;
  display: flex;
  align-items: center;
  margin-left: 2em;
}

nav #logo_kep {
  height: 2.5cm;
}

nav .linkek {
  float: right;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .linkek li {
  list-style: none;
}

nav .linkek a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

nav .linkek a:hover {
  background-color: rgb(255, 51, 0);
}

body {
  background-color: gray;
}

footer {
  background-color: black;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h1{
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 5px auto;
  line-height: 28px;
  font-size: 14px;
}

.kozossegi {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 5px solid rgb(255, 51, 0);
}

.kozossegi li {
  margin: 0 10px;
}

.kozossegi a{
  text-decoration: none;
  color: white;
}

.kozossegi a i {
  font-size: 25px;
  transition: color 0.2s linear;
}

.kozossegi a:hover i {
  color: rgb(255, 51, 0);
}

.footer-bottom {
  background-color: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 10px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.jogi_dolgok {
  text-decoration: none;
  color: white;
}

h3 {
  text-align: center;
}

td {
  width: 250px;
}

td>p {
  text-align: center;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
  float: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

.kartyak {
  color: white;
  height: 800px;
  width: 1200px;
  border-radius: 20px;
  margin: auto;
  margin-top:20px;
  margin-bottom: 20px;
  background-color: rgb(255, 51, 0);
}

table {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  color: white;
  width: 1200px;
  height: 800px;
  padding: 30px;
}